.card-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.card {
  padding: 1rem;
  list-style: none;
  border: 1px solid rgb(64, 64, 192);
  border-radius: 1rem;
  background-color: rgb(40, 59, 74);
}
